    <!-- Page content -->
    <div class="container mt--12">
        <div class="row py-6 py-lg-6 pt-lg-6">
            <div class="col-12">
                <div class="card-header">
                    <h2 class="card-title">Page not found!</h2>
                    <a href="/" class="card-text">Go to homepage</a>
                </div>
            </div>
        </div>
    </div>
